
.DS_Store
.idea/codeStyles/codeStyleConfig.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.class
*.jar
*.properties
*.lst
*.original
.idea/vcs.xml
